@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav img {
  margin: 7%;
}

.descripion {
  background-image: url(img/backgrounf.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20%;
  padding-bottom: 8%;
}

.descripion h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
  font-size: 250%;
  font-weight: 4000%;
  text-align: center;
  line-height: 145%;
  color: #172b4d;
  margin: 0;
}

.descripion h3 {
  color: #36b37e;
}

.descripion p {
  font-family: 'Inter', sans-serif;
  font-size: 130%;
  color: #172b4d;
  font-weight: 2500%;
  text-align: center;
  line-height: 168%;
  margin: 4%;
}

.social-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin-top: 7%;
}

.social-links img {
  margin-right: 24px;
}

.footer {
  display: flex;
  margin-top: 14%;
  justify-content: center;
}

.works {
  display: flex;
  flex-direction: column;
}

.works h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 4000%;
  line-height: 140%;
  text-align: center;
  margin: 10%;
  color: #172b4d;
  font-size: 250%;
}

.straight-line {
  align-self: center;
  margin-bottom: 14%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1%;
}

.card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.t-container {
  position: absolute;
  bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 327px;
  border-radius: 5%;
}

.t-container h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 6000%;
  font-size: 150%;
  line-height: 140%;
  text-align: center;
  color: #3a4a42;
  margin: 6%;
}

.t-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 74%;
  line-height: 150%;
  color: #3a4a42;
  margin: 0;
  padding: 0;
}

.t-container li {
  background-color: #ebf0ee;
  padding: 8px 12px 8px 12px;
  margin-right: 8px;
  border-radius: 20%;
}

.t-container button {
  margin: 29px 0 24px 0;
  width: 45%;
  height: 48px;
  background-color: #36b37f;
  border-radius: 5%;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 115%;
  line-height: 150%;
  text-align: center;
  color: #fff;
}

.t-container button:hover {
  box-shadow: 0 5px 15px rgba(30, 72, 143, 0.24);
}

.t-container button:active {
  background-color: #0a2759;
}

.card-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about {
  margin-top: 50%;
}
.about-me {
   background-image: url(img/about-me-1.png), url(img/about-me-2.png);
   background-repeat: no-repeat, no-repeat;
   background-position: top 0 right 0, bottom 0 left 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.about-me h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0 0 0 0;
}
.about-me p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #42526E;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 24px 18px 24px 12px;
 
}
.about-me button {
  width: 153px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #36B37F;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
.about-me button:hover {
  box-shadow: 0 5px 15px rgba(30, 72, 143, 0.24);
}
.about-me button:active {
  background-color: #0a2759;
}
.about-me-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin-top: 59px;
}
.about-me-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf0ee;
  width: 327px;
  height: 316px;
  border-radius: 8px;
}
.about-me-card img {
  margin-top: 40px;
}
.about-me-card h2 {
  font-family: 'Inter', sans-serif;
  color: #344563;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0;
}
.about-me-card ul {
  list-style: none;
  margin: 24px 0 24px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Inter', sans-serif;
  color: #1e488f;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.about-me-card li {
  background-color: #fff;
  color: #36B37E;
  border-radius: 8px;
  padding: 12px;
  margin: 0 8px 8px 0;
}
