@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

footer a {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 32px;
  color: #42526e;
  text-decoration: none;
  margin-bottom: 29px;
}

.nav a {
  display: none;
}

.nav img {
  margin: 35px 41px 20px 0;
}

.descripion {
  background-image: url(img/backgrounf.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.descripion h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.descripion h1 {
  padding-top: 63px;
}

.descripion h3 {
  color: #36b37e;
}

.descripion p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #172b4d;
  font-weight: 400;
  text-align: center;
  line-height: 32px;
  margin: 15px 27px 23px 27px;
}

.logos ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.logos img {
  margin-right: 24px;
}

.t-footer {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.works {
  display: flex;
  flex-direction: column;
}

.works h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  margin: 10%;
  color: #172b4d;
  font-size: 250%;
}

.straight-line {
  align-self: center;
  margin-bottom: 14%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.t-container {
  position: absolute;
  bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 327px;
  border-radius: 5%;
}

.t-container h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 6000%;
  font-size: 150%;
  line-height: 140%;
  text-align: center;
  color: #3a4a42;
  margin: 6%;
}

.t-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 74%;
  line-height: 150%;
  color: #3a4a42;
  margin: 0;
  padding: 0;
}

.t-container li {
  background-color: #ebf0ee;
  padding: 8px 12px 8px 12px;
  margin-right: 8px;
  border-radius: 20%;
}

.t-container button {
  margin: 29px 0 24px 0;
  background-color: #36b37f;
  font-family: 'Inter', sans-serif;
  width: 122px;
  height: 48px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  transition: all 0,5s ease-in-out;
}

.card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-me {
  margin-top: 50%;
  background-image: url(img/about-me-1.png), url(img/about-me-2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top 0 right 0, bottom 0 left 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0 0 0 0;
}

.about-me p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 32px;
  color: #42526e;
  font-size: 20px;
  text-align: center;
  margin: 24px 18px 24px 12px;
}

.about-me button {
  width: 153px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #36b37f;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.contact-me button {
  align-self: center;
  width: 153px;
  height: 48px;
  background-color: #36b37f;
  border-radius: 4px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.about-me button:hover {
  box-shadow: 0 5px 15px rgba(30, 72, 143, 0.24);
}

.contact-me button:hover {
  box-shadow: 0 5px 15px rgba(30, 72, 143, 0.24);
  border: 1px solid #1e488f;
  background-color: #fff;
  color: #1e488f;
}

.about-me button:active {
  background-color: #0a2759;
}

.contact-me button:active {
  background-color: #172b4d;
}

.t-container button:hover {
  box-shadow: 0 5px 15px rgba(30, 72, 143, 0.24);
}

.t-container button:active {
  background-color: #0a2759;
}

.about {
  margin-top: 50px;
}

.about-me-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin-top: 59px;
}

.about-me-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf0ee;
  width: 327px;
  height: 316px;
  border-radius: 8px;
}

.about-me-card img {
  margin-top: 40px;
}

.about-me-card h2 {
  font-family: 'Inter', sans-serif;
  color: #344563;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0;
}

.about-me-card ul {
  list-style: none;
  margin: 24px 0 24px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Inter', sans-serif;
  color: #1e488f;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.about-me-card li {
  background-color: #fff;
  color: #36b37e;
  border-radius: 8px;
  padding: 12px;
  margin: 0 8px 8px 0;
}

.bottom {
  background-image: url(img/illustration-contact-form.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 65px;
}

.contact-me h2 {
  margin: 54px 30px 0 24px;
}

.contact-me form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 30px 0 24px;
  margin-top: 24px;
}

.contact-me input,
.contact-me textarea {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #6b778c;
  border-radius: 4px;
  border: solid 1px #d0d9d4;
  padding: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  * {
    font-family: 'Inter', sans-serif;
  }

  .header {
    background-image: url(img/option2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top 0;
    padding-bottom: 395px;
  }

  .nav {
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav img {
    display: none;
  }

  .nav a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #172b4d;
    font-weight: 600;
    border-radius: 15px;
  }

  .nav a:hover {
    background-color: #172b4d;
    color: #fff;
    border-radius: 16px;
  }

  .descripion {
    background-image: none;
  }

  .descripion h1,
  h2 {
    padding: 170px 10px 10px 0;
  }

  .descripion h1,
  h2,
  h3 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 800;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .descripion p {
    margin: 24px 25% 34px 25%;
  }

  .works {
    margin: 0 8% 0 8%;
  }

  .works h2 {
    padding: 100px 0 52px 0;
    margin: 0;
  }

  .straight-line {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 24px;
  }

  .t-container h2 {
    padding: 0;
    margin: 16px;
  }

  .about {
    margin-top: -50%;
  }

  .about-me {
    background-image: none;
    background-image: url(img/illustration-about-me-desktop.png), url(img/illustration-about-me-2-desktop.png);
    background-size: contain, inherit;
    background-repeat: no-repeat;
    background-position: top 89px right 0, bottom 15px left 0;
  }

  .about-me h2 {
    padding: 192px 0 0 0;
    margin: 0;
  }

  .about-me p {
    margin: 24px 25% 34px 25%;
  }

  .about-me-cards {
    margin: 70px 0 0 0;
    flex-direction: row;
  }

  .about-me-card {
    height: 336px;
    justify-content: flex-start;
  }

  .about-me-card h2 {
    padding: 0;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-image: url(img/illustration-1-contact-form-desktop.png), url(img/illustration-2-contact-form-desktop@2x.png), url(img/contact-form-illustratoin-3-desktop.png);
    background-position: left 0 bottom 85px, left 280px bottom 175px, right 0 bottom 93px;
  }

  .contact-me {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 98px;
    width: 62%;
    padding-bottom: 238px;
  }

  .contact-me h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    width: 40%;
  }

  .contact-me form {
    margin: 0;
    width: 60%;
  }

  .contact-me button {
    align-self: flex-start;
  }

  .footer {
    border-top: solid 1px #dfe1e6;
    margin: 0;
    width: 100%;
  }

  .email {
    display: none;
  }
}
