@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body{
  background-image: url(img\backgrounf.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  margin: 0;
}

.nav {
  display:flex;
  justify-content: flex-end;
}

.nav img {
   margin: 35px 41px 20px 0; 
}
.headline-container {
  background-image: url(img\backgrounf.png);
  background-size: cover;
  margin-top: 92px;
  padding-bottom: 42px;
}


.descripion{
  margin-top:80px;
  }


.descripion h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700px;
    text-align: center;
    line-height: 52px;
    color: #172B4D;
    margin: 0;

}

.descripion h3 {
    color: #36B37E;
}
.descripion p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color:  #172B4D;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  margin: 15px 27px 23px 27px;
}
.social-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin-top: 24px;
}
.social-links img {
  margin-right: 24px;
}
.footer {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.works {
  display: flex;
  flex-direction: column;
}
.works h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin: 63px 28px 24px 26px;
  color: #172B4D;
  font-size: 40px;
 
}
.straight-line {
  align-self: center;
  margin-bottom: 62px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.card-one{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.t-container {
  position: absolute;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 327px;
  border-radius: 8px;
}

.t-container h2{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 16px;

}

.t-container ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  margin: 0;
  padding: 0;
}

.t-container li{
  background-color: #ebf0ee;
  padding: 8px 12px 8px 12px;
  margin-right: 8px;
  border-radius: 4px;
}
.t-container button {
    margin: 29px 0 24px 0;
    width: 122px;
    height: 48px;
    background-color: #36B37F;
    border-radius: 4px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #fff;
}
.t-container button:hover {
  box-shadow: 0 5px 15px rgba(30, 72, 143, 0.24);
}

.t-container button:active {
  background-color: #0a2759;
  
}

.card-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}
.card-three{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}
.card-four{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}
.card-five{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}
.card-six{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}